


<h1 style=""></h1></h1>

<h1 style="font-family: 'Courier New', Courier, monospace;
font-weight:700px; text-align:center;
text-underline-position: below;
  margin: 100px;
     border: 40px;
"
>Welcome to server channel 1000</h1>

<style>
    .main{
        text-shadow: darkgreen;
        text-underline-position: below;
        margin: 100px;
     border: 40px;
        
    }
</style>